<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Skills</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3><%= skill.skill %></h3>
    <h3>Expert: <%= skill.isExpert ? 'Yes' : 'No' %></h3>
    <a href="/skills">Back</a>
  </body>
</html>
