/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: floralwhite;
} */

button {
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

img {
  width: 100px;
}